<div id="GRID1" class="col s9"> <!-- GRID -->

  <div class="row">
    <div class="col s4">
      <p #TEXTBLOCK1 id="TEXTBLOCK1" class="col s4">Nom :</p>
      <input #nom id="nom" class="col s8">
    </div>
    <div class="col s4">
      <p #TEXTBLOCK2 id="TEXTBLOCK2" class="col s4">Prenom :</p>
      <input #Prenom id="prenom" class="col s8">
      </div>
  </div>

  <div class="row">
    <div class="col s4">
      <p #TEXTBLOCK4 id="TEXTBLOCK4" class="col s4">Age :</p>
      <input #age id="age" class="col s8">
    </div>
    <div class="col s4">
      <p #TEXTBLOCK3 id="TEXTBLOCK3" class="col s4">Numero :</p>
      <input #num id="num" class="col s8">
    </div>
  </div>




  <div class="row">
    <div class="col s4">
      <p #TEXTBLOCK5 id="TEXTBLOCK5" class="col s4">Adresse :</p>
      <input #adresse id="adresse" class="col s8">
    </div>
    <div class="col s4">
      <p #TEXTBLOCK6 id="TEXTBLOCK6" class="col s4">Société :</p>
      <input #soc id="soc" class="col s8">
    </div>
  </div>
  <div class="centre">
    <button #BTN1 id="BTN1" (click)="Valider();"
    >Valider</button>
    </div>
</div>