<form>
<div class="form-group">
  <label for="Nomrecette">Nom de la l'ingredient</label>
  <input type="email"  #Nomingre class="form-control" id="Nomingre" aria-describedby="emailHelp" placeholder="Nom de la l'ingredient">
</div>
<div class="form-group">
  <label for="Modecuisson">Prix</label>
  <input  class="form-control" #Prix id="Prix" placeholder="Prix">
</div>


  <div class="form-group">
    <label for="Uniter">Unité</label>
    <input  class="form-control" #Uniter id="Uniter" placeholder="Unité">
  </div>

  <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
</form>
